
    #loginblock{
       border-top-left-radius: 50px;
       border-top-right-radius: 50px; 
       height: calc(95vh - 184px); 
    }
    .p-5{
        padding: 88px;
    }
    .brd{
        border-radius: 12px
    }

    #signupblock{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px; 
        height: calc(95vh - 184px); 
     }
   
  
  