
    #loginblock{
       border-top-left-radius: 50px;
       border-top-right-radius: 50px; 
       height: 100vh; 
    }
    .p-5{
        padding: 88px;
    }
    .brd{
        border-radius: 12px
    }
    .logo-block{
       
    }
  
  